<ul>
    <li><a class="active" href="#">ABC Company</a></li>
    <li><a href="#">PP</a></li>
  </ul>

  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      Sign In
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="password" required>
      <!-- An element to toggle between password visibility -->
<input type="checkbox" (click)="myFunction()">Show Password
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>